/* コンポーネント */
/* Typography */
.c_typo_headerXXS {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
}

.c_typo_headerXS {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
}

.c_typo_headerS {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
}

.c_typo_headerM {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
}

.c_typo_headerL {
    font-size: 20px;
    line-height: 28px;
    font-weight: 700;
}

.c_typo_headerXL {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
}

.c_typo_headerXXL {
    font-size: 28px;
    line-height: 36px;
    font-weight: 700;
}

.c_typo_bodyXS {
    font-size: 12px;
    line-height: 14px;
    font-weight: 400;
}

.c_typo_bodyS {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

.c_typo_bodyM {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
}

.c_typo_bodyL {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
}

.c_typo_cta {
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
}

.c_typo_ctaS {
    font-size: 14px;
    line-height: 14px;
    font-weight: 700;
}

.c_typo_numberL {
    font-size: 42px;
    line-height: 42px;
    font-weight: 700;
}

@media (min-width: 760px) {
    .c_typo_headerXS {
        font-size: 16px;
        line-height: 24px;
    }

    .c_typo_headerS {
        font-size: 18px;
        line-height: 26px;
    }

    .c_typo_headerM {
        font-size: 22px;
        line-height: 32px;
    }

    .c_typo_headerL {
        font-size: 28px;
        line-height: 36px;
    }

    .c_typo_headerXL {
        font-size: 42px;
        line-height: 50px;
    }

    .c_typo_bodyM {
        font-size: 18px;
        line-height: 26px;
    }

    .c_typo_bodyL {
        font-size: 24px;
        line-height: 36px;
    }

    .c_typo_numberL {
        font-size: 50px;
        line-height: 50px;
    }
}

.c_typo_BLK10 {
    color: #2E2E2E;
}

.c_typo_BLK8 {
    color: #585858;
}

.c_typo_BLK6 {
    color: #939393;
}

.c_typo_BLK4 {
    color: #D5D5D5;
}

.c_typo_BLK2 {
    color: #F0F0F0;
}

.c_typo_BLK1 {
    color: #FAFAFA;
}

.c_typo_GRN16 {
    color: #003D34;
}

.c_typo_GRN10 {
    color: #008673;
}

.c_typo_RED100 {
    color: #9C2F2F;
}

.c_typo_WHT {
    color: #FFFFFF;
}

.c_typo_ERROR {
    color: #E53935;
}

.c_typo_ORG120 {
    color: #F29F00;
}

.c_typo_PNK01 {
    color: #B9477E;
}

.c_typo_PPL01 {
    color: #67498D;
}

.c_typo_BLU01 {
    color: #5EA1C5;
}

.c_typo_GRN01 {
    color: #72AD66;
}

.c_typo_YEL01 {
    color: #CA853B;
}

.c_typo_align_left {
    text-align: left;
}

.c_typo_align_center {
    text-align: center;
}

.c_typo_align_right {
    text-align: right;
}

.c_typo_align_left,
.c_typo_align_center,
.c_typo_align_right {
    word-break: break-all;
}

@media (min-width: 760px) {
    .c_typo_alignPC_left {
        text-align: left;
    }

    .c_typo_alignPC_center {
        text-align: center;
    }

    .c_typo_alignPC_right {
        text-align: right;
    }
}

.c_typo_oneLine {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

/* Loader */
.c_loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 134, 115, 0.9);
    backdrop-filter: blur(5px);
    z-index: 9999;
}

.c_loader_hidden {
    display: none;
}

.c_loader_contents {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 240px;
    height: 64px;
}

.c_loader_circle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #FFFFFF;
    animation: circle 0.5s alternate infinite ease;
}

@keyframes circle {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }

    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }

    100% {
        top: 0%;
    }
}

.c_loader_circle:nth-child(1) {
    left: 15%;
}

.c_loader_circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}

.c_loader_circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.c_loader_shadow {
    position: absolute;
    top: 62px;
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
    transform-origin: 50%;
    z-index: -1;
    filter: blur(1px);
    animation: shadow .5s alternate infinite ease;
}

@keyframes shadow {
    0% {
        transform: scaleX(1.5);
    }

    40% {
        transform: scaleX(1);
        opacity: .7;
    }

    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.c_loader_shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
}

.c_loader_shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.c_loader_shadow:nth-child(6) {
    left: 15%;
}

.c_loader_text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% + 80px));
    letter-spacing: 1em;
}

.c_loader_text>span {
    text-align: center;
}

.c_loader_text rt {
    font-size: 0.4em;
    letter-spacing: 0.2em;
}

@media (min-width: 760px) {
    .c_loader_text {
        font-size: 24px;
        line-height: 32px;
    }
}

/* HeaderBar */
.c_headerBar {
    height: 8px;
}

.c_headerBar_GRN {
    background-color: #008673;
}

.c_headerBar_BLU {
    background-color: #2196F3;
}

.c_headerBar_left {
    width: 30%;
    height: 100%;
    border-radius: 0 4px 4px 0;
}

.c_headerBar_YEL {
    background-color: #FABF00;
}

/* TextField */
.c_textField_labelArea {
    display: flex;
    align-items: flex-start;
}

.c_textField_typo_label {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #2E2E2E;
}

.c_textField_typo_asterisk {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #E53935;
}

.c_textField_inputArea {
    padding-top: 8px;
}

.c_textField_input {
    width: 100%;
    padding: 16px;
    border: 1px solid #F2FAF9;
    border-radius: 16px;
    background-color: #F2FAF9;
    outline: none;
    resize: none;
}

.c_textField_typo_input {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #2E2E2E;
}

.c_textField_typo_input:focus {
    border: 1px solid #008673;
}

.c_textField_typo_input::placeholder {
    color: #585858;
}

/* Button */
.c_button {
    display: block;
    width: 100%;
    padding: 16px;
    border: 3px solid #008673;
    border-radius: 24px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
    transition: cubic-bezier(0, 0.2, 0.4, 1) 200ms;
}

.c_button_green {
    background-color: #008673;
}

.c_button_white {
    background-color: #FFFFFF;
}

@media (min-width: 760px) {
    .c_button:hover {
        background-color: #CCEBE6;
    }

    .c_button:hover p {
        color: #008673;
    }
}

/* ボタン非活性時 */
.c_button_disabled {
    border: 3px solid #D5D5D5;
    background-color: #D5D5D5;
    box-shadow: none;
    transform: translateY(4px);
    pointer-events: none;
}

.c_button_disabled p {
    color: #939393;
}

/* Dialog */
.c_dialog {
    display: flex;
}

/* bodyスクロール制御 */
.c_dialog_bodyScroll {
    overflow-y: hidden;
    overflow-x: hidden;
    width: 100%;
    position: fixed;
    left: 0;
}

.c_dialog_showModal {
    cursor: pointer;
}

/* ダイアログ背景 */
.c_dialog_modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.2s cubic-bezier(0, 0.2, 0.4, 1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    z-index: 10;
}

.c_dialog_inner {
    background-color: #FFFFFF;
    border-radius: 24px;
    /* スクロールの調整のため右・下paddingをc_modal01_textAreaと分割 */
    padding: 32px 12px 30px 0;
    width: 90vw;
    max-width: 592px;
    min-width: 328px;
    max-height: 90%;
    position: relative;
    cursor: default;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

/* PC表示 */
@media (min-width: 760px) {
    .c_dialog_inner {
        max-height: 680px;
    }
}

/* ダイアログテキストエリア */
.c_dialog_textArea {
    overflow-y: auto;
    overflow-x: hidden;
    line-height: 1.5;
    /*モーダル内スクロールの調整のため右・下paddingをc_modal01_innerと分割 */
    padding: 0 12px 2px 24px;
}

/* PC表示 */
@media (min-width: 760px) {
    .c_dialog_textArea {
        /* ダイアログボックスの最大の高さ（680px）からパディング要素（64px）を引いた値 */
        max-height: 616px;
    }
}

/* 閉じるアイコン（×ボタン） */
.c_dialog_CloseBtn {
    position: absolute;
    right: -16px;
    top: -24px;
    width: 48px;
    height: 48px;
    cursor: pointer;
}

/* ダイアログ表示用クラス */
.c_dialog_isShow {
    visibility: visible;
    opacity: 1;
}

/* ×ボタンクローズ非表示用クラス */
.c_dialog_hidden_closeBtn .c_dialog_CloseBtn {
    display: none;
}

/* 背景押下制御用クラス */
.c_dialog .c_dialog_modal_disable {
    cursor: default;
}

/* Notification */
.c_notification {
    display: flex;
    align-items: flex-start;
    padding: 8px;
    border-radius: 16px;
    background-color: #FFE0E0;
}

.c_notification:focus {
    border: #E53935;
}

.c_notification>svg {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
}

.c_notification_text {
    flex-grow: 1;
    padding-left: 8px;
}

.c_notification_typo_text {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #2E2E2E;
}

.c_notification_closeBtn {
    padding-left: 8px;
}

/* Notification02 */
.c_notification02 {
    display: block;
    padding: 8px;
    border-radius: 16px;
    background-color: #FDEBCC;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.c_notification02_titleArea {
    display: flex;
    align-items: center;
}

.c_notification02_exclamationIcon {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    background-image: url('../p_image/exclamation_orange.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.c_notification02_title {
    flex-grow: 1;
    padding-left: 8px;
}

.c_notification02_contentArea {
    padding: 8px 12px 0 12px;
}

.c_notification02_textLink {
    display: flex;
    align-items: center;
    padding-left: 4px;
}

.c_notification02_typo_textLink:visited {
    color: #99D6CD;
}

.c_notification02_nextArrowIcon {
    flex-shrink: 0;
    padding-left: 8px;
}

/* TextLink */
.c_textLink {
    display: flex;
}

.c_textLink>a {
    display: flex;
    align-items: center;
}

.c_textLink svg {
    flex-shrink: 0;
    margin: 4px;
    width: 16px;
    height: 16px;
}

.c_typo_textLink {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;
    color: #1E88E5;
}

@media (min-width: 760px) {
    .c_textLink0>a {
        transition: cubic-bezier(0, 0.2, 0.4, 1) 200ms;
    }

    .c_textLink a:hover {
        background-color: #BBDEFB;
    }

    .c_textLink a:hover p {
        color: #1E88E5;
    }
}

/* SortLink */
.c_sortLink {
    display: flex;
}

.c_sortLink>input {
    display: none;
}

.c_sortLink>input+label {
    display: flex;
    align-items: center;
    transition: cubic-bezier(0, 0.2, 0.4, 1) 200ms;
}

.c_sortLink>input+label>p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 700;
    color: #008673;
}

.c_sortLink_iconArea {
    flex-shrink: 1;
    padding-left: 4px;
}

.c_sortLink>input+label svg {
    width: 24px;
    height: 24px;
}

.c_sortLink>input+label svg:last-child {
    display: none;
}

.c_sortLink>input:checked+label svg:first-child {
    display: none;
}

.c_sortLink>input:checked+label svg:last-child {
    display: block;
}

@media (min-width: 760px) {
    .c_sortLink>input+label:hover {
        background-color: #E9FFFC;
        cursor: pointer;
    }

    .c_sortLink>input+label>p {
        font-size: 16px;
        line-height: 24px;
    }

    .c_sortLink>input+label svg {
        width: 32px;
        height: 32px;
    }
}