/* プロトサンプル用CSS設定　開始 */

table,
td,
th {
    border: 1px solid #595959;
}

td,
th {
    padding: 4px 8px;
}

th {
    background: #CCEBE6;
}

/* プロトサンプル用CSS設定　終了 */

.spacing {
    padding: 40px;
}

.box {
    display: inline-block;
    /* background-color: #87a5f8; */
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
}

/* キャンバスエリア */
.pt_graph03 {
    width: 600px;
    height: 200px;
    position: relative;
}

/* キャンバスエリア */
.pt_graph03_canvasArea {
    height: 100%;
    padding: 8px 0 24px 36px;
}

.pt_graph03_canvas {
    width: 100%;
    height: 100%;
}

/* X軸ラベルエリア */
.pt_graph03_XlabelArea {
    width: 100%;
    display: flex;
    padding: 8px 0 0 24px;
}

.pt_graph03_goodText {
    padding-right: 8px;
    flex-shrink: 0;
}

.pt_graph03_Xlabel {
    display: flex;
    align-items: center;
    width: 100%;
}

.pt_graph03_Xlabel>div {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.pt_graph03_bar {
    width: 20px;
    height: 6px;
    border-radius: 3px;
}

.pt_graph03_badText {
    padding-left: 8px;
    flex-shrink: 0;
}

/* Y軸ラベル */
.pt_graph03_YlabelArea {
    height: 100%;
    width: 100%;
    padding: 8px 8px 24px 0;
    position: absolute;
    top: 0;
    left: 8px;
}

.pt_graph03_Ylabel {
    height: 50px;
}

.yLabel {
    margin: 0;
    transform: translateY(-50%);
}