/** ログイン **/
/* メイン */
main {
    background-color: #FEF2CC;
}

/* 画像エリア */
.bl_imageArea {
    padding: 32px 20px 0;
}

@media (min-width: 760px) {
    .bl_imageArea {
        padding: 48px 32px 0;
    }

    .bl_container {
        width: 100%;
        margin: 0 auto;
    }

    .bl_imageArea>.bl_container {
        max-width: 800px;
    }
}

.bl_cityImage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 288px;
    background-image: url('../p_image/city.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.bl_sunImageFrame {
    position: relative;
}

.bl_sunImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 64px;
    background-image: url('../p_image/sun.svg');
    background-repeat: no-repeat;
    background-size: contain;
}

/* .bl_titleBox {
    padding: 8px 24px;
    border-radius: 16px;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 4px rgba(255, 255, 255, 0.8);
} */

.bl_typo_titleTop {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    text-align: center;
}

.bl_typo_PNK01 {
    color: #B9477E;
}

.bl_typo_PPL01 {
    color: #67498D;
}

.bl_typo_BLU01 {
    color: #5EA1C5;
}

.bl_typo_GRN01 {
    color: #72AD66;
}

.bl_typo_YEL01 {
    color: #CA853B;
}

.bl_titleSpace {
    padding-top: 4px;
}

.bl_typo_titleBottom {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
    color: #2E2E2E;
    text-align: center;
}

/* 表示/非表示切り替え */
.bl_hidden {
    display: none;
}

/* ログインフォームエリア */
.bl_loginFormArea {
    padding: 24px 20px 32px;
}

.bl_typo_formTitle {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: #2E2E2E;
    text-align: center;
}

.bl_textFieldArea {
    padding-top: 16px;
}

.bl_loginErrorArea {
    display: none;
    padding-top: 24px;
}

.bl_showLoginError {
    display: block;
}

.bl_loginBtnArea {
    padding-top: 24px;
}

.bl_loginBtn {
    display: block;
    width: 280px;
    margin: 0 auto;
    padding: 16px 24px;
    border-radius: 24px;
    background-color: #008673;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.bl_clickedLoginBtn {
    background-color: #585858;
    box-shadow: none;
    transform: translateY(4px);
}

.bl_typo_loginBtn {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

@media (min-width: 760px) {
    .bl_loginFormArea {
        padding: 32px 0 48px;
    }

    .bl_loginFormArea>.bl_container {
        max-width: 592px;
    }

    .bl_typo_formTitle {
        font-size: 28px;
        line-height: 36px;
    }
}

/* 選択エリア */
.bl_confirmArea {
    padding-top: 16px;
}

.bl_typo_confirm {
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    color: #2E2E2E;
}

.bl_highlight {
    background: linear-gradient(transparent 60%, #008673 120%);
}

.bl_confirmBtnArea {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 24px;
}

.bl_confirmBtnArea>li {
    flex-grow: 1;
    width: 50%;
}

.bl_confirmBtnArea>li:first-child {
    padding-right: 16px;
}

.bl_confirmBtnArea>li:last-child {
    padding-left: 16px;
}

.bl_agreeBtn {
    width: 100%;
    padding: 16px 24px;
    border-radius: 24px;
    background-color: #008673;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.bl_typo_agreeBtn {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #FFFFFF;
    text-align: center;
}

.bl_disagreeBtn {
    width: 100%;
    padding: 15px 24px;
    border: 1px solid #008673;
    border-radius: 24px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
}

.bl_typo_disagreeBtn {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: #008673;
    text-align: center;
}


/** 大貫追加分 **/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");
:root {
  font-size: 16px;
  --main-bg-color: #D4E8FE;
  --cta-bg-color: #459DFF;
  --primary-color: #2D3F63;
  --secondary-color: #ffffff;
}
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

body {
  background: var(--main-bg-color);
}
span {
  font-weight: 700;
}

.container {
  width: 70%;
  height: 25%;
  max-width: 740px;
  padding: 5rem;
  margin: 0;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--secondary-color);
  box-shadow: 15px 15px 40px rgba(18, 34, 88, 0.4 ),
    inset 12px 12px 24px #E8F2FB, inset -24px -24px 48px #A7C8EC;
  border-radius: 8rem;
  text-align: center;
}

.container__title {
  font-size: 4rem;
  color: var(--primary-color);
}

.container__cta {
  display: inline-block;
  margin-top: 2rem;
  font-size: 2rem;
  padding: 1.5rem 5rem;
  color: var(--secondary-color);
  background: var(--cta-bg-color);
  box-shadow: 0px 4px 24px #b5d6ee, inset 6px 6px 12px #ADD5FF,
    inset -12px -12px 24px #3166AC;
  border-radius: 2.7rem;
}

@media (max-width: 700px) {
  :root {
    font-size: 10px;
  }
}

@media (max-width: 500px) {
  :root {
    font-size: 8px;
  }
  .container__cta {
    padding: 1rem 3rem;
    font-size: 8px;
  }
}

.neumorphism {
    width: 200px;
    height: 200px;
padding: 50px;

    border-radius: 50px;
    background: #D4E8FE;
    box-shadow:  20px 20px 60px #b4c5d8,
                 -20px -20px 60px #f4ffff;
}

.neumorphism p {
    font-size: 30px;
    color: #2D3F63;
font-weight: 700;
}