/** メニュー選択 **/
/* ヘッダー */
.bm_headerContent {
    display: flex;
    align-items: center;
    padding: 4px 12px;
}

.bm_headerContent>p {
    flex-grow: 1;
}

.bm_headerContent>a {
    flex-shrink: 0;
    display: block;
    width: 48px;
    height: 48px;
}

.bm_typo_header {
    font-size: 20px;
    font-weight: 700;
    line-height: 38px;
    color: #2E2E2E;
}

/* ヘッダーバー */
.bm_headerBar_GRN {
    height: 8px;
    background-color: #008673;
}

.bm_headerBar_YEL {
    width: 30%;
    height: 100%;
    border-radius: 0 4px 4px 0;
    background-color: #FABF00;
}

/* メイン */
main {
    display: flex;
    flex-direction: column;
    background:linear-gradient(45deg, #D4E8FE, #F0F0F0);
}

/* 詳細エリア */
.bm_detailArea {
    padding: 32px 36px 0;
}

.bm_detailArea_left {
    flex-basis: 70%;
}

.bm_detailBtn {
    display: flex;
    padding: 20px;

    background: rgba(255, 255, 255, 0.3);
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.bm_meisaiLinkArea {
    padding-left: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    flex-basis: 30%;
}

.bm_nameArea {
    display: flex;
    align-items: flex-end;
}

.bm_nameArea>p:last-child {
    flex-shrink: 0;
}

.bm_typo_name {
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    color: #2E2E2E;
}

.bm_nameArea>.bm_typo_name:last-child {
    padding-left: 8px;
}

.bm_amountArea {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 8px;
}

.bm_goodFaceIcon,
.bm_badFaceIcon {
    display: none;
}

.bm_showFaceIcon {
    display: block;
}

.bm_amount {
    display: flex;
    align-items: baseline;
    padding-left: 8px;
}

.bm_amount>p:last-child {
    padding-left: 4px;
}

.bm_typo_amount {
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    color: #2E2E2E;
}

.bm_typo_unit {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #585858;
}

/* メニューエリア */
.bm_menuArea {
    flex-grow: 1;
    padding: 32px 36px;
}

.bm_menuList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.bm_menuList>li {
    flex-grow: 1;
    width: 50%;
}

.bm_menuList>li:nth-child(odd) {
    padding-right: 16px;
}

.bm_menuList>li:nth-child(even) {
    padding-left: 16px;
}

.bm_menuList>li:nth-child(n+3) {
    padding-top: 24px;
}

.bm_menuBtn {
    display: block;
    width: 128px;
    height: 128px;
    margin: 0 auto;
    border-radius: 16px;
    padding: 8px;
    background-color: #FFFFFF;
    box-shadow: 0 0 4px 4px rgb(46, 46, 46, 0.2);
}

.bm_depositBtn {
    border: 2px solid #B9477E;
}

.bm_withdrawBtn {
    border: 2px solid #67498D;
}

.bm_salaryBtn {
    border: 2px solid #5EA1C5;
}

.bm_taxBtn {
    border: 2px solid #72AD66;
}

.bm_donateBtn {
    border: 2px solid #CA853B;
}

.bm_helpBtn {
    border: 2px solid #E84F4C;
}

.bm_menuBtn>svg {
    display: block;
    width: 72px;
    height: 72px;
    margin: 0 auto;
}

.bm_menuBtn>p {
    padding-top: 4px;
}

.bm_typo_menuBtn {
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
}

.bm_depositBtn>.bm_typo_menuBtn {
    color: #B9477E;
}

.bm_withdrawBtn>.bm_typo_menuBtn {
    color: #67498D;
}

.bm_salaryBtn>.bm_typo_menuBtn {
    color: #5EA1C5;
}

.bm_taxBtn>.bm_typo_menuBtn {
    color: #72AD66;
}

.bm_donateBtn>.bm_typo_menuBtn {
    color: #CA853B;
}

.bm_helpBtn>.bm_typo_menuBtn {
    color: #E84F4C;
}

/* ダイアログ */
.bm_dialogCenter {
    display: flex;
    justify-content: center;
}

.bm_typo_dialogMessage {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #2E2E2E;
}

.bm_dialogImageArea {
    padding-top: 16px;
}

.bm_dialogImage {
    display: block;
    width: 200px;
    margin: 0 auto;
}


/** 大貫追加分 **/
.container {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

form {
    background: rgba(255, 255, 255, 0.3);
    padding: 3em;
    height: 320px;
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: relative;
    transition: all 0.2s ease-in-out;
}

form p {
    font-weight: 500;
    color: #fff;
    opacity: 0.7;
    font-size: 1.4rem;
    margin-top: 0;
    margin-bottom: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

form a {
    text-decoration: none;
    color: #ddd;
    font-size: 12px;
}

form a:hover {
    text-shadow: 2px 2px 6px #00000040;
}

form a:active {
    text-shadow: none;
}

form input {
    background: transparent;
    width: 200px;
    padding: 1em;
    margin-bottom: 2em;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5000px;
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

form input:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

form input[type="email"]:focus,
form input[type="password"]:focus {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

form input[type="button"] {
    margin-top: 10px;
    width: 150px;
    font-size: 1rem;
}

form input[type="button"]:hover {
    cursor: pointer;
}

form input[type="button"]:active {
    background: rgba(255, 255, 255, 0.2);
}

form:hover {
    margin: 4px;
}

::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.drop {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
    position: absolute;
    transition: all 0.2s ease;
}

.drop-1 {
    height: 80px;
    width: 80px;
    top: -20px;
    left: -40px;
    z-index: -1;
}

.drop-2 {
    height: 80px;
    width: 80px;
    bottom: -30px;
    right: -10px;
}

.drop-3 {
    height: 100px;
    width: 100px;
    bottom: 120px;
    right: -50px;
    z-index: -1;
}

.drop-4 {
    height: 120px;
    width: 120px;
    top: -60px;
    right: -60px;
}

.drop-5 {
    height: 60px;
    width: 60px;
    bottom: 170px;
    left: 90px;
    z-index: -1;
}

a,
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}