<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <title>あそび大学こども銀行 | アカウント一覧</title>
    <!-- 共通CSS -->
    <link rel="stylesheet" href="../bunk_files/p_css/reset.css?20240501">
    <link rel="stylesheet" href="../bunk_files/p_css/components.css?20240501">
    <link rel="stylesheet" href="../bunk_files/p_css/common.css?20240501">
    <!-- 画面個別CSS -->
    <link rel="stylesheet" href="../bunk_files/p_css/accountList.css?20240501">
</head>

<body>
    <!-- ヘッダー -->
    <header>
        <div class="com_headerContent bal_headerContent">
            <p class="com_typo_header"><span class="c_typo_PNK01">あ</span><span class="c_typo_PPL01">そ</span><span
                    class="c_typo_BLU01">び</span><span class="c_typo_GRN01"><ruby>大<rt>だい</rt></ruby></span><span
                    class="c_typo_YEL01"><ruby>学<rt>がく</rt></ruby></span>　こども<ruby>銀行<rt>ぎんこう</rt></ruby></p>
        </div>
        <div class="c_headerBar c_headerBar_BLU">
            <div class="c_headerBar_left c_headerBar_YEL"></div>
        </div>
    </header>

    <!-- メイン -->
    <main>
        <!-- タイトルセクション -->
        <section class="bal_ttlSec">
            <div class="bal_ttl">
                <h1 class="bal_typo_ttl">ユーザー<ruby>一覧<rt>いちらん</rt></ruby></h1>
                <div class="bal_lead">
                    <p class="bal_typo_lead"><ruby>登録<rt>とうろく</rt></ruby>されたユーザーを<ruby>検索<rt>けんさく</rt></ruby>できます。</p>
                </div>
            </div>
        </section>

        <!-- 一覧セクション -->
        <section class="bal_listSec">
            <div class="bal_listArea">
                <div class="bal_listTop">
                    <!-- 検索欄 -->
                    <div class="bal_searchInputWrapper">
                        <input type="text" placeholder="ニックネーム" tabindex="0" class="bal_searchInput"
                            id="bal_searchInput">
                        <div class="bal_seachSujest bal_hideSeachSujest">
                            <ul class="bal_seachSujestList" id="bal_seachSujestList"></ul>
                        </div>
                    </div>
                    <!-- 検索ボタン -->
                    <div class="bal_searchBtnWrapper">
                        <button tabindex="0" class="bal_searchBtn" id="bal_searchBtn">
                            <p>検索</p>
                        </button>
                    </div>
                </div>
                <!-- ユーザー一覧 -->
                <div class="bal_listWrapper">
                    <ul class="bal_userList" id="bal_userList"></ul>
                </div>
            </div>
        </section>
    </main>

    <!-- 共通JavaScript -->
    <script src="../bunk_files/p_css/event.js?20240501"></script>
    <script src="../bunk_files/p_css/common.js?20240501"></script>
    <!-- 画面個別JavaScript -->
    <script src="../bunk_files/p_css/accountList.js?20240501"></script>
</body>

</html>