<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <title>あそび大学こども銀行 | アカウント確認</title>
    <!-- 共通CSS -->
    <link rel="stylesheet" href="../bunk_files/p_css/reset.css?20240501">
    <link rel="stylesheet" href="../bunk_files/p_css/components.css?20240501">
    <link rel="stylesheet" href="../bunk_files/p_css/common.css?20240501">
    <!-- 画面個別CSS -->
    <link rel="stylesheet" href="../bunk_files/p_css/accountConfirm.css?20240501">
</head>

<body>
    <!-- ヘッダー -->
    <header>
        <div class="com_headerContent">
            <p class="com_typo_header"><span class="c_typo_PNK01">あ</span><span class="c_typo_PPL01">そ</span><span
                    class="c_typo_BLU01">び</span><span class="c_typo_GRN01"><ruby>大<rt>だい</rt></ruby></span><span
                    class="c_typo_YEL01"><ruby>学<rt>がく</rt></ruby></span>　こども<ruby>銀行<rt>ぎんこう</rt></ruby></p>
        </div>
        <div class="c_headerBar c_headerBar_BLU">
            <div class="c_headerBar_left c_headerBar_YEL"></div>
        </div>
    </header>

    <!-- メイン -->
    <main>
        <!-- タイトルセクション -->
        <section class="bacom_ttlSec">
            <h1 class="bac_typo_ttl">アカウント<ruby>確認<rt>かくにん</rt></ruby></h1>
            <div class="bac_lead">
                <p class="bac_typo_lead"></p>
            </div>
        </section>
    </main>

    <!-- 共通JavaScript -->
    <script src="../bunk_files/p_css/event.js?20240501"></script>
    <script src="../bunk_files/p_css/common.js?20240501"></script>
    <!-- 画面個別JavaScript -->
    <script src="../bunk_files/p_css/accountConfirm.js?20240501"></script>
</body>

</html>