<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <title>あそび大学こども銀行 | 警告</title>
    <!-- 共通CSS -->
    <link rel="stylesheet" href="../bunk_files/p_css/reset.css?20230822">
    <link rel="stylesheet" href="../bunk_files/p_css/components.css?20230822">
    <link rel="stylesheet" href="../bunk_files/p_css/common.css?20230822">
    <!-- 画面個別CSS -->
    <link rel="stylesheet" href="../bunk_files/p_css/alert.css?20230822">
</head>

<body>
    <!-- メイン -->
    <main>
        <!-- 画像エリア -->
        <section class="ba_imageArea">
            <div class="ba_container">
                <div class="ba_iconsFrame">
                    <div class="ba_rainImage"></div>
                    <div class="ba_virus1Image"></div>
                    <div class="ba_virus2Image"></div>
                </div>
                <div class="ba_cityImage">
                    <div class="ba_titleBox">
                        <p class="c_typo_headerL c_typo_align_center"><span class="c_typo_PNK01">あ</span><span
                                class="c_typo_PPL01">そ</span><span class="c_typo_BLU01">び</span><span
                                class="c_typo_GRN01"><ruby>大<rt>だい</rt></ruby></span><span class="c_typo_YEL01"><ruby>学
                                    <rt>がく</rt>
                                </ruby></span></p>
                        <div class="ba_titleSpace">
                            <p class="c_typo_headerXXL c_typo_BLK10 c_typo_align_center">こども<ruby>銀行<rt>ぎんこう</rt></ruby>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- 警告エリア -->
        <section class="ba_alertArea">
            <a href="./login.html" tabindex="0" class="c_notification02">
                <div class="c_notification02_titleArea">
                    <div class="c_notification02_exclamationIcon"></div>
                    <div class="c_notification02_title">
                        <p class="c_typo_headerS c_typo_BLK10"><ruby>警告<rt>けいこく</rt></ruby></p>
                    </div>
                </div>
                <div class="c_notification02_contentArea">
                    <p class="c_typo_bodyM c_typo_BLK10">IDを<ruby>間違<rt>まちが</rt></ruby>えて<ruby>入力<rt>にゅうりょく</rt>
                        </ruby>しています。<br><ruby>正<rt>ただ</rt></ruby>しいIDでもう<ruby>一度<rt>いちど</rt></ruby>ログインしてください。</p>
                    <div class="c_notification02_textLink">
                        <p class="c_typo_headerS c_typo_GRN10">ログイン<ruby>画面<rt>がめん</rt></ruby>へ<ruby>戻<rt>もど</rt>
                            </ruby>る</p>
                        <div class="c_notification02_nextArrowIcon"><svg xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512"
                                style="width: 16px; height: 16px; opacity: 1;" xml:space="preserve">
                                <g>
                                    <path d="M499.436,225.905L295.858,24.536c-16.623-16.438-43.428-16.305-59.866,0.328
		c-16.438,16.613-16.294,43.418,0.329,59.856l130.356,128.958H42.329C18.956,213.679,0,232.624,0,255.997
		c0,23.383,18.956,42.328,42.329,42.328h324.347L236.321,427.273c-16.623,16.438-16.767,43.254-0.329,59.867
		c16.438,16.622,43.243,16.766,59.866,0.328l203.578-201.368c8.044-7.963,12.564-18.792,12.564-30.102
		C512,244.685,507.479,233.866,499.436,225.905z" style="fill: rgb(0, 134, 115);"></path>
                                </g>
                            </svg></div>
                    </div>
                </div>
            </a>
        </section>
    </main>

    <script src="../bunk_files/p_css/event.js?20230822"></script>
    <script src="../bunk_files/p_css/common.js?20230822"></script>
    <script src="../bunk_files/p_css/alert.js?20230822"></script>
</body>

</html>