<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>graph test</title>
	<link rel="stylesheet" href="../bunk_files/p_css/graphTast.css">
</head>

<body>
	<!-- グラフ③ -->
	<div class="spacing">

	</div>
	<div class="box">
		<img src="../bunk_files/p_image/penguin.png" alt="penguin" width="100%">
	</div>
	<div class="graph">
		<div class="canvasArea">
			<canvas class="canvas"></canvas>
		</div>
	</div>
	<div class="image">
		<img src="../bunk_files/p_image/antarctic.svg" alt="antarctic" width="100%">
	</div>

	<script src="../bunk_files/p_css/graphTast.js"></script>

</body>

</html>