<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, user-scalable=yes">
    <meta http-equiv="Pragma" content="no-cache">
    <title>あそび大学こども銀行 | とりひきのりれき</title>
    <!-- 共通CSS -->
    <link rel="stylesheet" href="../bunk_files/p_css/reset.css?20230822">
    <link rel="stylesheet" href="../bunk_files/p_css/components.css">
    <link rel="stylesheet" href="../bunk_files/p_css/common.css">
    <!-- 画面個別CSS -->
    <link rel="stylesheet" href="../bunk_files/p_css/history.css?20230822">
</head>

<body>
    <!-- ローダー -->
    <div class="c_loader c_loader_hidden">
        <div class="c_loader_center">
            <div class="c_loader_wrapper">
                <div class="c_loader_circle"></div>
                <div class="c_loader_circle"></div>
                <div class="c_loader_circle"></div>
                <div class="c_loader_shadow"></div>
                <div class="c_loader_shadow"></div>
                <div class="c_loader_shadow"></div>
                <p class="c_typo_loaderTitle">よみこみ<ruby>中<rt>ちゅう</rt></ruby></p>
            </div>
        </div>
    </div>

    <!-- ヘッダー -->
    <header>
        <div class="com_headerContent">
            <p class="com_typo_header"><span class="c_typo_PNK01">あ</span><span class="c_typo_PPL01">そ</span><span
                    class="c_typo_BLU01">び</span><span class="c_typo_GRN01"><ruby>大<rt>だい</rt></ruby></span><span
                    class="c_typo_YEL01"><ruby>学<rt>がく</rt></ruby></span>　こども<ruby>銀行<rt>ぎんこう</rt></ruby></p>
            <a id="c_logoutLink">
                <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 512 512" style="width: 48px; height: 48px;" xml:space="preserve">
                    <g>
                        <polygon
                            points="257.101,94.287 257.101,94.448 340.312,94.448 340.312,204.811 376.378,204.811 376.378,58.987 
                                376.378,58.542 376.378,58.542 376.378,58.382 257.101,58.382 257.101,94.178 257.101,94.287"
                            style="fill: rgb(0, 134, 115);"></polygon>
                        <polygon
                            points="376.378,307.35 376.378,307.19 340.312,307.19 340.312,417.553 257.101,417.553 257.101,453.346 
                                257.101,453.455 257.101,453.455 257.101,453.619 376.378,453.619 376.378,307.795 376.378,307.35"
                            style="fill: rgb(0, 134, 115);"></polygon>
                        <path
                            d="M509.566,251.08l-84.652-64.094c-1.133-0.878-2.422-1.238-3.661-1.238c-3.191,0-6.179,2.524-6.179,6.184
                                v27.305c0,3.402-2.786,6.183-6.184,6.183h-32.511h-36.066h-18.551c-3.398,0-6.129,2.73-6.129,6.133v48.894
                                c0,3.402,2.73,6.133,6.129,6.133h18.551h36.066h32.511c3.398,0,6.184,2.782,6.184,6.18v27.309c0,3.66,2.988,6.183,6.179,6.183
                                c1.238,0,2.528-0.359,3.661-1.238l84.652-64.094C512.811,258.447,512.811,253.553,509.566,251.08z"
                            style="fill: rgb(0, 134, 115);"></path>
                        <path d="M204.652,11.444c-2.422,0.05-4.946,0.363-7.473,1.082L38.332,58.382L28.027,61.37l-12.156,3.504
                                C6.442,67.604,0,76.21,0,86.05v339.902c0,9.84,6.442,18.441,15.871,21.175l12.156,3.504l10.305,2.989l158.847,45.855
                                c2.527,0.718,5.051,1.082,7.473,1.082c14.27,0,26.687-11.594,26.687-26.793v-20.144v-36.066V94.448V58.382V38.237
                                C231.339,23.038,218.922,11.444,204.652,11.444z M159.515,277.358v-42.664c0-2.832,2.27-5.047,5.051-5.047h16.746
                                c2.782,0,4.996,2.215,4.996,5.047v42.664c0,2.782-2.214,4.996-4.996,4.996h-16.746
                                C161.785,282.354,159.515,280.139,159.515,277.358z" style="fill: rgb(0, 134, 115);">
                        </path>
                    </g>
                </svg>
            </a>
        </div>
        <div class="c_headerBar c_headerBar_GRN">
            <div class="c_headerBar_left c_headerBar_YEL"></div>
        </div>
    </header>

    <!-- メイン -->
    <main>
        <!-- 残高表示エリア -->
        <section class="bh_userCardSec">
            <div class="bh_userCardArea">
                <div class="bh_userCard">
                    <div class="bh_nameArea">
                        <p class="bh_typo_name">
                            <span id="bh_userName">おなまえ</span>　さま
                        </p>
                    </div>
                    <div class="bh_amountArea">
                        <p class="bh_typo_amount">
                            <span id="bh_amuntKids">8000</span>　キッズ
                        </p>
                    </div>
                    <div class="bh_imageArea">
                        <img src="../bunk_files/p_image/bh_penguin_surfing.svg" alt="bh_penguin_surfing" width="100%">
                    </div>
                </div>
            </div>
        </section>

        <!-- グラフ表示エリア -->
        <section class="bh_historyGraphSec">
            <div class="bh_historyGraphArea">
                <div class="bh_historyAreaTitle">
                    <p class="bh_typo_historyTitle">とりひきのりれき</p>
                </div>
                <div class="bh_graphArea">
                    <div class="bh_box">
                        <img src="../bunk_files/p_image/penguin.png" alt="penguin" width="100%">
                    </div>
                    <div class="bh_graph">
                        <div class="bh_canvasArea">
                            <canvas class="bh_canvas"></canvas>
                        </div>
                    </div>
                    <div class="bh_image">
                        <img src="../bunk_files/p_image/antarctic.svg" alt="antarctic">
                    </div>
                </div>
            </div>
        </section>

        <!-- 履歴表示エリア -->
        <section class="bh_transHistorySec">
            <div class="bh_transHistoryArea">
                <ul class="bh_historyList">
                    <li class="bh_historyUnit">
                        <div class="bh_history_timestampArea">
                            <div class="bh_history_date">
                                <p class="bh_typo_timestamp">3月8日(金)</p>
                            </div>
                            <div class="bh_history_time">
                                <p class="bh_typo_timestamp">15時37分</p>
                            </div>
                        </div>
                        <div class="bh_history_detailArea">
                            <div class="bh_history_menu">
                                <p class="bh_typo_historyDetail">おかねをあずける</p>
                            </div>
                            <div class="bh_history_value">
                                <p class="bh_typo_historyValue">+5000</p>
                                <p class="bh_typo_historyDetail">キッズ</p>
                            </div>
                        </div>
                    </li>
                    <li class="bh_historyPartition">
                        <hr class="bh_partition_dashed">
                    </li>
                    <li class="bh_historyUnit">
                        <div class="bh_history_timestampArea">
                            <div class="bh_history_date">
                                <p class="bh_typo_timestamp">3月8日(金)</p>
                            </div>
                            <div class="bh_history_time">
                                <p class="bh_typo_timestamp">15時35分</p>
                            </div>
                        </div>
                        <div class="bh_history_detailArea">
                            <div class="bh_history_menu">
                                <p class="bh_typo_historyDetail">おかねをひきだす</p>
                            </div>
                            <div class="bh_history_value">
                                <p class="bh_typo_historyValue">-1200</p>
                                <p class="bh_typo_historyDetail">キッズ</p>
                            </div>
                        </div>
                    </li>
                    <li class="bh_historyPartition">
                        <hr class="bh_partition_dashed">
                    </li>
                    <li class="bh_historyUnit">
                        <div class="bh_history_timestampArea">
                            <div class="bh_history_date">
                                <p class="bh_typo_timestamp">12月31日(金)</p>
                            </div>
                            <div class="bh_history_time">
                                <p class="bh_typo_timestamp">9時35分</p>
                            </div>
                        </div>
                        <div class="bh_history_detailArea">
                            <div class="bh_history_menu">
                                <p class="bh_typo_historyDetail">ぜいきんをはらう</p>
                            </div>
                            <div class="bh_history_value">
                                <p class="bh_typo_historyValue">-1210</p>
                                <p class="bh_typo_historyDetail">キッズ</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </section>

    </main>


</body>

<script src="../bunk_files/p_css/event.js?20230822"></script>
<script src="../bunk_files/p_css/common.js?20230822"></script>
<script src="../bunk_files/p_css/history.js?20230822"></script>
</body>

</html>