<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Pragma" content="no-cache">
    <title>test</title>
    <link rel="stylesheet" href="../bunk_files/p_css/test.css">
</head>

<body>
    <p>form to html test</p>
    <div class="test_title">
        <p>明細</p>
    </div>
    <div class="test_detail">
        <div class="test_detail_title">
            <div class="test_detail_depositTitle">
                <p>入出金</p>
            </div>
            <div class="test_detail_balanceTitle">
                <p>残高</p>
            </div>
        </div>
        <div class="test_detail_amount">
            <div class="test_detail_depositAmount">

            </div>
            <div class="test_detail_balanceAmount">

            </div>
        </div>
    </div>

    <script src="https://unpkg.com/dexie@latest/dist/dexie.js"></script>
    <script src="../bunk_files/p_css/test.js"></script>
</body>

</html>